<div class="container-fluid mb-5 ">
  <h1> Forms</h1>
<form #userForm ="ngForm"  (ngSubmit)="onSubmit()" novalidate>


{{userForm.form.valid}}

  <div class="row">
    <div class="col">
      <label>Nom</label>
      <input type="text" required #Nom="ngModel" [class.is-invalid]="Nom.invalid"  class="form-control && Nom.touched"  name="Nom" [(ngModel)]="userModel.Nom" placeholder="Nom" >
       <small class="text-danger" [class.d-none]="Nom.valid || Nom.untouched "  >Nom required </small>
    </div>
    <div class="col">
      <label>Prenom</label>
      <input type="text" required #Prenom="ngModel" [class.is-invalid]="Prenom.invalid"  class="form-control && Prenom.touched" name="Prenom" [(ngModel)]="userModel.Prenom" placeholder="Prenom"  >
      <small class="text-danger" [class.d-none]="Prenom.valid || Prenom.untouched "  >Prenom required </small>
    </div>
  </div>
  <div class="form-group">
    <label>Telephone</label>
    <input type="tel" #Tel="ngModel" pattern="^\d{10}$" required [class.is-invalid]="Tel.invalid"  class="form-control && Tel.touched" class="form-control" name="Tel" [(ngModel)]="userModel.Tel" placeholder="Telephone" >
  <div *ngIf="Tel.errors && (Tel.valid || Tel.untouched)">
    <small class="text-danger" *ngIf="Tel.errors.required">Numero required</small>
    <small class="text-danger" *ngIf="Tel.errors.pattern">Numero incorrect</small>
  </div>


  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Addresse Email</label>
    <input type="email" class="form-control" name="Email" [(ngModel)]="userModel.Email"  id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" >
  </div>
  <div ngModelGroup ="UserAdresse" >
  <div class="form-group">
    <label for="inputAddress">Addresse</label>
    <input type="text" class="form-control" name="Adresse" [(ngModel)]="userModel.UserAdresse" id="inputAddress" placeholder="1234 Main St" ngModel>
  </div>
  <div class="form-group">
    <label for="inputAddress2">Complement Addresse</label>
    <input type="text" class="form-control"   name="Adresse" [(ngModel)]="userModel.UserAdresse" id="inputAddress2" placeholder="Apartment, studio, or floor" >
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">Departement</label>
      <input type="text" class="form-control" name="Departement" [(ngModel)]="userModel.UserAdresse"  id="inputCity" >
    </div>

    <div class="form-group col-md-2">
      <label for="inputZip">Code Postal</label>
      <input type="text" class="form-control"  name="Code Postal" [(ngModel)]="userModel.UserAdresse" id="inputZip" >
    </div>
  </div>
  </div>
<div>

  <label>Type de studio</label>

</div>

  <div class="form-group">

    <select   required #Choix="ngModel" [class.is-invalid]="Choix.invalid && Choix.touched " class="custom-select" name="Choix" [(ngModel)]="userModel.Choix">
      <option value=" "> Selectionnez un choix</option>
      <option *ngFor = "let topic of topics"> {{ topic }}</option>
    </select>
    <small class="text-danger" [class.d-none]="Choix.valid || Choix.untouched">Choisissez un studio</small>
  </div>



  <div class="from-check mb-3">
    <input class="form-check-input"  name="Check" [(ngModel)]="userModel.Check" type="checkbox">
    <label class="form-check-label">
      Accepter les conditions
    </label>



  </div>


  <button [disabled]= "userForm.form.invalid" type="submit" class="btn btn-primary">Soummettre</button>

</form>

</div>
